body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

h1, h3 {
    margin: 0;
}

nav {
    margin: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #35424a;
    background: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
}

nav a:hover {
    background: #35424a;
    color: #ffffff;
}

fieldset {
    border: 1px solid #35424a;
    border-radius: 5px;
    padding: 20px;
    background: #ffffff;
}

input[type="text"], input[type="submit"], textarea, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background: #35424a;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #35424a;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background: #35424a;
    color: #ffffff;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

.back {
    width: fit-content;
    cursor: pointer;
    background-color: #35424a;
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: white;
    font-size: 1rem;
    border: 2px solid #35424a;
}


.back:hover {
    background-color: #6f7274;
    color: #35424a;
}